.header-row{
  background-color: #2C3E50;
  min-height: 100px;
  line-height: 80px;
  color: white;
}

h1{
  font-size: 50px;
  color: white;
}

p{
  font-size: 26px;
  color:white;
}
[class*='col-']{
  text-align: center;
}
.col-lg-6 ul{
  list-style: none;
}

ul > li{
  display: inline-block;
  margin-top: auto;
  padding-left: 20px;
  font-size: 20px;
}

li > a{
  color: white;
}

.background{
  min-height: 500px;
  background-color: #1ABC9C
}
.background > h2{
  margin-top: 20px;
}

.background .row .col-lg-12 > img{
  max-height: 250px;
  margin-top: 50px;
}

section > h2{
  font-size: 30px;
  text-align: center;
  margin:25px 0;
}

img{
  max-height: 260px;
  margin:20px auto;
  border-radius: 2%;
}
